<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Космос</title>
    <link rel="stylesheet" href="KosmosStyle.css">
    <script src="gallery.js"></script>
</head>
<body>
<header>
    <h1>Космос</h1>
    <nav>
        <ul>
            <li><a href="/home">Главная</a></li>
            <li><a href="/researches">Исследования</a></li>
            <li><a href="/gallery">Галерея</a></li>
        </ul>
    </nav>
</header>
<section>
    <h2>Что есть космос?</h2>
    <p>Космос - это бескрайнее пространство за пределами атмосферы Земли, которое содержит звезды, планеты, галактики и другие космические объекты. Космос так притягивает людей своей неизведанностью, загадочностью и потенциальной возможностью обнаружить новые формы жизни или понять устройство Вселенной.</p>
</section>
<section>
    <h2>Изучение космоса</h2>
    <p>Исследование космоса - это научное исследование, направленное на изучение космических объектов, астрономических явлений и фундаментальных законов природы во Вселенной. Для исследования космоса используются различные научные инструменты, такие как телескопы, космические аппараты, спутники и ракеты. Космос исследуют с помощью различных методов и технологий, таких как радиоастрономия, оптическая астрономия, спектроскопия, космические миссии и даже теоретические моделирования. Все это позволяет ученым получать новые знания о космосе, формировании галактик, звезд и планет, а также понимать место человека во Вселенной.</p>
</section>
<section>
    <h2>Галерея</h2>
    <div class="gallery">
        <div class="slider">
            <div class="stage">
                <div>

                    <img src="https://сезоны-года.рф/sites/default/files/chernay_dira_7.jpg" alt="Черная дыра">
                </div>
                <div>
                    <img src="https://img2.juzaphoto.com/001/shared_files/uploads/53587.jpg" alt="Андромеда">
                </div>
                <div>
                    <img src="https://catherineasquithgallery.com/uploads/posts/2021-02/1613438932_103-p-fon-dlya-prezentatsii-pro-kosmos-135.jpg" alt="Космос">
                </div>
                <div>
                    <img src="https://kartinki.pics/uploads/posts/2022-02/1645218465_31-kartinkin-net-p-kartinki-mlechnii-put-37.jpg" alt="Млечный путь">
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>