<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Космос - Исследования</title>
    <link rel="stylesheet" href="KosmosStyle.css">
    <script src="gallery.js"></script>
</head>
<body>
<header>
    <h1>Космос</h1>
    <nav>
        <ul>
            <li><a href="/home">Главная</a></li>
            <li><a href="/researches">Исследования</a></li>
            <li><a href="/gallery">Галерея</a></li>
        </ul>
    </nav>
</header>
<section>
    <h2>Научные исследования космоса</h2>
    <p>Научные исследования космоса включают в себя широкий спектр дисциплин и направлений, направленных на изучение Вселенной. Благодаря достижениям в области технологий, человечество способно исследовать космос с помощью различных методов и инструментов.</p>
</section>
<section>
    <h2>Методы исследования</h2>
    <h3>Телескопы</h3>
    <p>Телескопы позволяют астрономам наблюдать удаленные объекты в космосе, такие как звезды, планеты, кометы и галактики. Современные телескопы оборудованы сложными системами для улучшения качества изображения и расширения диапазона наблюдений.</p>
    <h3>Космические аппараты</h3>
    <p>Космические аппараты, включая спутники и межпланетные зонды, направляются к различным небесным телам для их непосредственного изучения. Они собирают данные о составе, структуре и атмосфере планет, спутников и других объектов.</p>
    <h3>Спектроскопия</h3>
    <p>Спектроскопия используется для анализа света, исходящего от звезд и других космических объектов. Она позволяет определять химический состав, температуру, плотность и движение объектов во Вселенной.</p>
    <h3>Теоретическое моделирование</h3>
    <p>Теоретические модели и компьютерные симуляции помогают ученым понимать сложные процессы, происходящие в космосе, такие как образование галактик, эволюция звезд и поведение черных дыр.</p>
</section>
<section>
    <h2>Важные космические миссии</h2>
    <p>За последние десятилетия было осуществлено множество значимых космических миссий, каждая из которых внесла огромный вклад в наше понимание космоса. Вот несколько из них:</p>
    <ul>
        <li><strong>Аполлон-11:</strong> Первая миссия по высадке человека на Луну.</li>
        <li><strong>Вояджер-1 и Вояджер-2:</strong> Межзвездные зонды, которые исследовали внешние планеты нашей Солнечной системы и продолжают отправлять данные из межзвездного пространства.</li>
        <li><strong>Хаббл:</strong> Космический телескоп, предоставивший невероятно детальные изображения далеких галактик, туманностей и других космических объектов.</li>
        <li><strong>Марс Ровер:</strong> Серия миссий по исследованию Марса, включая последние марсоходы Curiosity и Perseverance.</li>
    </ul>
</section>
</body>
</html>